# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore makefiles
!*Makefile

# Unignore all dirs
!*/

*.o
*.in
*.out
*.DS_Store
*Casos\ de\ Teste*
*SCC0200/
*Baixado/
*.reg
*.idx
*.swp
*.dat
