# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore makefiles
!*Makefile

# Unignore all dirs
!*/

*.o
*.in
*.out
*.DS_Store
*Casos\ de\ Teste*

# Ignore other folders
!SCC0221/
!SCC0222/
!SCC0202/
!SCC0220/
!LIB/

*Baixado/
*.reg
*.idx
*.swp
*.dat
*.test
*.zip
*.pdf
**.pgm
**.vscode
**.vim
**/compile_flags.txt
**/compile_commands.json
